* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Sofia", sans-serif;
    background-image: url("../images/bricks.png");
}

#central-content {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-color: red;
    margin-left: 100px;
    margin-right: 100px;
}
